:root {
    --primary-color: #000000;
    --secondary-color: #Af8234;
    --light-grey: #e5e7eb;
    --grey: rgb(135, 139, 140);
    --dark-green: rgb(69, 89, 72);
    --brown: rgb(123, 83, 73);
    --grey2: #96a3af;
    --white: #ffffff;
    --black2: #27272a;
    --dark-grey : #4b5563;
    --grey3: #71717a;
    --black3: #1b1b1b;
    --grey4: #52525b;
    --grey-bold: rgb(63 ,63 ,70 );

}