/* header */

.nav-btn {

    /* display: none; */

    background-color: transparent;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.bt-down {
    display: none;
}

@media (max-width: 767px) {


    .top-header .social-icons {
        display: none;

    }

    .top-header .contact {

        display: none;
    }

    .top-header {

        background-color: var(--primary-color);

    }
     
    .top-header .advertisment  {
         
        display: block;
        text-align: center;
        color: var(--white);


    }
    .bottom-header .row{
      

    display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     
        
    }
    

    .nav-btn {
        display: block;
    }

    .nav-bar {
      display: none;
    }
  
    .header-actions {
        display: none;
    }

    .main-section .row {
        flex-direction: column;
    }

    .main-section .imgs {
        display: none;

    }

    
    .main-section .img-details img{
        width: 100%;
    }

    .main-section .product-details, .features {

        padding: 15px;
    }
    

    .main-section .tabs .tab ul {
        flex-direction: column;
    }


    .main-section .tab ul li  {
        display: flex;
        justify-content: space-between;


    }
    
    .main-section .tab ul li .bt-down{
        display: block;
    }

    .main-section .tab li button::after{
        display: none;
    }

    
    .main-section .tabs  .contents {
        display: none;
    }



    footer {
        padding: 15px;
    }
    
    footer .footer-top {

        flex-direction: column;
    }


    footer .footer-top .footer-contact {

        width: 100%;
    }

    
    footer .footer-top .drop {
      
        justify-content: space-between;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    
    footer .footer-top .bt-down {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    footer .items, .money-method {

        display: none;
    }

    footer .footer-bottom p{
        text-align: center;
        width: 100%;
    }
  }